a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* 채팅방 목록 전체 영역 */
#chatListWrap {
    padding: 20px;
}

/* 참여한 채팅방 목록 제목 */
.joinChatRoomList {
    background-color: #D3EDFD;
    color: #2F4858;
    padding: 10px 15px;
    margin: 0;
    text-align: center;
}

/* 채팅방 검색창과 버튼 영역 */
.chatRoomSearch {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chatRoomSearch input[type="text"] {
    padding: 8px;
    width: 70%; /* 검색창 너비 */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.chatRoomSearch input[type="button"] {
    padding: 8px 15px;
    background-color: #094074;
    color: #DAE3E5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 채팅방 추가 버튼 영역 */
.chatRoomBtnWrap {
    margin-bottom: 20px;
}

.chatBtn {
    padding: 8px 15px;
    background-color: #094074;
    color: #DAE3E5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 채팅방 목록 */
#searchResultWrap ul,
.chatRoomList ul {
    list-style-type: none;
    padding: 0;
}

#searchResultWrap ul li,
.chatRoomList ul li {
    padding: 10px;
    background-color: #DAE3E5;
    margin-bottom: 10px;
    border-radius: 4px;
}

#searchResultWrap ul li a,
.chatRoomList ul li a {
    color: #2F4858;
    text-decoration: none;
}

/* #searchResultWrap ul li a:hover,
.chatRoomList ul li a:hover {
    text-decoration: underline;
} */

/* 추가 버튼들 스타일 */
.chatRoomList ul li a {
    margin-right: 10px;
}

/* 채팅 리스트 항목 전체 스타일 */
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  li:hover {
    cursor: pointer;
    background-color: #DAE3E5;
  }
  
  /* 채팅방 이름 스타일 */
  .chatTitleName {
    font-weight: bold;
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
  }
  
  /* 마지막 채팅 내용 스타일 */
  .lastChatText {
    flex-basis: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
    color: #666;
  }
  
  /* 마지막 채팅 전송 시간 스타일 */
  .lastChatRegDate {
    flex-basis: 15%;
    font-size: 0.8em;
    color: #999;
  }
  
  /* 수정, 나가기, 좋아요 버튼 공통 스타일 */
  .chatTitleNameModifyBtn, .chatDeleteBtn, .chatBookmarkBtn {
    flex-basis: 5%;
    text-align: center;
    background-color: #094074;
    color: #DAE3E5;
    padding: 5px;
    margin-left: 2px;
    border-radius: 5px;
    cursor: pointer;
  }
