/* 채팅방 헤더 */
.roomName {
    background-color: #D3EDFD;
    color: #2F4858;
    padding: 10px 15px;
    margin: 0;
    text-align: center;
}

/* 메뉴 및 검색 바 */
.chatMenu {
    display: flex;
    justify-content: space-between; /* 요소들 사이의 여백을 동일하게 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 10px;
    background-color: #DAE3E5;
    border-bottom: 2px solid #eeeeee;
}

.chatMenu input[type="text"], .chatMenu button {
    flex: 1; /* 각 요소들이 남은 공간을 동일하게 차지하도록 설정 */
    padding: 8px;
    margin-right: 5px; /* 각 요소 사이의 우측 마진 */
}

.searchChatTextBtn, .hamburgerButton {
    padding: 8px 12px;
    background-color: #094074;
    color: #DAE3E5;
    border: none;
    cursor: pointer;
}

/* 메뉴 콘텐츠 */
.menuContent {
    display: none;
    background-color: #094074;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%; /* 메뉴 콘텐츠 너비 전체로 조정 */
}

.menuContent.show {
    display: block;
}

.menuContent button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    color: #DAE3E5;
    cursor: pointer;
}

.menuContent button:hover {
    background-color: #BBD1EA;
}

/* 메시지 표시 영역 */
#messageWrap {
    padding: 10px;
    background-color: #BBD1EA;
    border-bottom: 1px solid #BBD1EA;
    height: 400px; /* 메시지 표시 영역의 높이 */
    overflow-y: auto; /* 내용이 많을 경우 스크롤바 자동 생성 */
}

.msg {
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #DAE3E5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.msg p {
    margin: 0; /* 기본 마진 제거 */
    color: #2F4858; /* 글자 색상 */
    font-size: 14px; /* 글자 크기 */
}

.userNickname {
    color: #007bff; /* 닉네임 색상 */
    font-weight: bold; /* 굵은 글씨체 */
}

/* 메시지 입력 영역 */
.messageInputArea {
    display: flex; /* Flex 컨테이너로 설정 */
    padding: 10px;
    background-color: #DAE3E5;
    align-items: center; /* 세로 중앙 정렬 */
}

.sendFileBtn, .inputMessageInput, .sendBtn {
    padding: 8px 12px;
    margin-right: 5px; /* 입력 요소들 사이의 우측 마진 */
    border: 1px solid #BBD1EA; /* 테두리 */
    border-radius: 4px; /* 테두리 둥글기 */
    height: 40px; /* 모든 입력 요소의 높이 통일 */
}

.sendFileBtn, .sendBtn {
    background-color: #094074; /* 버튼 배경색 */
    color: #DAE3E5; /* 버튼 글자색 */
    cursor: pointer; /* 포인터 모양 */
}

.inputMessageInput {
    flex-grow: 1; /* 남은 공간 모두 채우기 */
    border-radius: 4px; /* 테두리 둥글기 */
}

.sendBtn {
    width: auto; /* 자동 너비 조정 */
}

.sendFileBtn {
    width: auto; /* 자동 너비 조정 */
}

.inputMessageInput:focus, .sendFileBtn:focus, .sendBtn:focus {
    border-color: #D3EDFD; /* 포커스 시 테두리 색상 */
    outline: none; /* 기본 아웃라인 제거 */
}
