#chatListWrap {
    flex: 1;
    width: 500px; 
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.joinChatRoomList {
    font-size: 1.3em;
    margin: 1em;
    color: #333;

    text-align: center;
}

.chatRoomSearch {
    display: flex;
    padding: 0 1em;
    margin-bottom: 1em;
}

.chatRoomSearch input[type="text"] {
    flex: 1;
    /* width: 440px; */
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.chatRoomSearch input[type="button"] {
    padding: 0.5em 1em;
    margin-left: 0.5em;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.chatRoomUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chatRoomLi {
    padding: 1em;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-between; /* 가로 간격을 일정하게 유지하기 위해 */
    align-items: center;
    width: 470px; /* chatListWrap와 동일한 너비로 설정 */
}

.chatRoomLi:hover {
    background-color: #f1f1f1;
}

.chatTitleName {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    width: 270px; /* 채팅방 이름 너비 */
    overflow: hidden; /* 너비를 넘어가는 텍스트는 숨기기 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 너비를 넘어가는 텍스트는 ...로 표시 */
}

.participantsCount {
    color: #007bff; /* 색상 변경 */
    font-weight: bold; /* 굵은 글꼴 적용 */
    width: 50px; /* 너비 유지 */
}

.lastChatText {
    color: #666;
    width: 100px; /* 마지막 메시지 너비 */
    overflow: hidden; /* 너비를 넘어가는 텍스트는 숨기기 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 너비를 넘어가는 텍스트는 ...로 표시 */
}

.lastChatRegDate {
    color: #999;
    font-size: 0.8em;
    width: 100px; /* 메시지 시간 너비 */
    overflow: hidden; /* 너비를 넘어가는 텍스트는 숨기기 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 너비를 넘어가는 텍스트는 ...로 표시 */
}

.chatRoomBtnWrap {
    margin-top: 1em; /* 위쪽 여백 추가 */
    margin-left: 1em;
    margin-bottom: 1em; /* 아래쪽 여백 추가 */
}

.chatRoomBtnWrap .chatBtn {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.chatRoomBtnWrap .chatBtn:hover {
    background-color: #0056b3;
}

.emptyChatList {
    text-align: center;
    color: #999;
    padding: 2em;
}

.chatTitleNameModifyBtn,
.chatDeleteBtn,
.chatBookmarkBtn {
    margin-left: 0.5em;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.chatTitleNameModifyBtn:hover,
.chatDeleteBtn:hover,
.chatBookmarkBtn:hover {
    text-decoration: underline;
}

#friendListModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1000;
}